{
  "root": true,
  "env": { "browser": true, "node": true, "vue/setup-compiler-macros": true },
  "parser": "vue-eslint-parser",
  "parserOptions": {
    "parser": "@typescript-eslint/parser",
    "sourceType": "module"
  },
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:prettier/recommended",
    "plugin:solid/recommended"
  ],
  "plugins": ["prettier", "@typescript-eslint", "unused-imports", "solid"],
  "rules": {}
}
